/* Acá van tus reglas de estilo */


/* Acá van tus reglas de estilo */

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 2px outset #1C6EA4;
}
h1{
    text-shadow: 3px 1px 5px rgba(164,16,76,0.58);
}

#btnlogin {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#imglogin{
    margin:10px auto;
    display:block;
    width: 100px;
}
.labels{
    font-size: x-large;
    /* text-shadow: 3px 1px 5px rgba(164,16,76,0.58); */
}
.pagGeneral{
    margin: 0 auto;
    margin-top: 12px;
    padding: 0em;
    border-radius: 0em;
}
#claveCifrado{
    border: 2px outset #1C6EA4;
}
.clavecipher{
    padding-left: 200px;
}
#pagLogin {
    width: 35%;
}
#pagCifrado{
    width: 50%;
    /* display: none; */
}
input[type=textarea]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 2px outset #1C6EA4;
}