/* Acá van tus reglas de estilo */


/* Acá van tus reglas de estilo */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Courgette|Lobster&display=swap');
@media screen and (min-width: 780px) and (max-width:2024px){
    header{
        width: 50%;
        margin: 0 auto;
        display: flexbox;
    }
    #pagLogin {
        width: 35%;
        padding: 30px;
    }
    #pagCifrado{
        width: 50%;
         padding: 15px;
    }
    .imgIcon{
        margin:10px auto;
        display:block;
        width: 90px;
    }
    #imgEyeLash{
        position: absolute;
        top: 48px;
    }
    #imgEye{
        position: absolute;
        top: 50px;
        margin-left: 43%;
    }
    #textH3{
        font-size: 42px;
    }
    .botones{
        padding-left: 170px;
    }
    .btnsalir{
        padding-left: 640px;
    }
    .modal{
        font-size: xx-large;
        height: 28vmin;
    }
}
@media screen and (min-width:480px) and (max-width: 780px){
   
}
@media screen and (max-width:480px){
    header{display: contents;
    }
    header h1{    
        font-size: 30px;    
    }
    #pagLogin{     
        width: 80%; 
        padding: 20px;
        /* display: table-cell;    */
    }
    #pagCifrado{
        width: 80%;
         padding: 12px;
    }
    #copyright{
        font-size: 14px !important;
        margin-left: -2% !important;
    }
    .modal{
        font-size: medium;
        height: 40vmin;
    }
    .botones{
        padding-left: 0px;
    }
    #textH3{
        font-size: 20px;
        width: 230px;
        margin-left: 20px;
    }
    .imgIcon{
        margin:10px auto;
        display:block;
        width: 40px;
    }
    #imgEyeLash{
        position: absolute;
        top: 30px;
    }
    #imgEye{
        position: absolute;
        top: 30px;
        margin-left: 65%;
    }
    .btnsalir{
        padding-left: 165px;
    }
    #aviso{
        display: none;
    }
}

input[type=password] {
    width: 100%;
    padding: 12px 35px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 2px outset #1C6EA4;
}
h1{
    font-family: 'Courgette', cursive;
    text-shadow: rgb(216, 129, 129) 3px 1px 5px;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    color: #c60f6d;
}
.modal{
    font-family: 'Bree Serif', serif;
    width: 75vmin;
    background: #e5e1e7;
    color: #323031;
    position: absolute;
    border-radius: 10px;
    z-index: 5;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
 .classH2{
    font-size: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
} 
#textH3{
    color: #6f0fb5;
}
.label1{
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}
#btnlogin {
    width: 100%;
    background-image: linear-gradient(to right, #c60f6d 0%, #de60c5 50%, rgb(178, 116, 181) 100%);
    border: 2px solid rgb(138, 13, 127);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labels{
    font-size: x-large;
}
.pagGeneral{
    margin: 0 auto;
    margin-top: 12px;
    padding: 0em;
    border-radius: 0em;
    background-color: rgba(223, 177, 207, 0.74);
    border-radius: 20px;
    border: 2px solid rgb(14, 15, 15);
}
#offset{
    border: 2px outset #1C6EA4;
    padding: 3px 10px;
    margin: 8px 0;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.hide {display:none;}

.textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 80px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 2px outset #1C6EA4;
    font-size: 17px;
}
.boton{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 18px;
    border-radius: 7px;
    font-family: Georgia, serif;
    display: inline-block
}
#btnDescifrar{
    /* background-image: linear-gradient(to right, rgb(16, 136, 53) 0%, #2bc731 50%, rgb(8, 173, 82) 100%); */
    /* border: 2px solid rgb(10, 125, 67); */
    background-image: linear-gradient(to right, #c60f6d 0%, #de60c5 50%, rgb(178, 116, 181) 100%);
    border: 2px solid rgb(183, 13, 168);
}
#btnCifrar{
    background-image: linear-gradient(to right, rgb(224, 191, 208) 0%, rgba(216, 53, 120, 0.58) 50%, rgba(207, 96, 142, 0.58) 100%);
    border: 2px solid rgb(169, 20, 96);
}
#btnBorrar{
    background-image: linear-gradient(to right, #b7aeae 0%, #d4cdd6 50%, rgb(113, 112, 109) 100%);
    border: 2px solid #827a7a;
}
#btnSalir{
    background-image: linear-gradient(to right, #b7aeae 0%, #252525 50%, rgb(113, 112, 109) 100%);
    border: 2px solid #101010;
}

#pag1{
    background-image: url(Img/hermandad.png)
}
.errorMessage{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
#aviso{
    border: 2px solid #bb134a;
    padding: 8px 10px;
    margin: 8px 0;
    margin-left: 20px;
    /* display: flex;
    flex-direction: column; */
}
#warning{
    width: 30px;
    margin-top: 10px;
    position: absolute;
}
.txtWarning{
    margin-left: 35px;
    font-family: 'Bree Serif', serif;
}
#copyright{
    font-family: 'Lobster', cursive;
    font-size: 20px;
     background-color: rgb(206, 173, 202);
     margin-left: -0.5%;
     width: 100%;
     height: 25px;
     bottom: 0;
     position: fixed;
     text-align: center;
     color:black;
}
#key{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0px;
}
#frown{
    position: absolute;
}

